<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_carplay"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_carplay"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xcertplay">

        <receiver
            android:name="com.shilapi.xcertplay.BootReceiver"
            android:enabled="true"
            tools:replace="android:enabled" />

        <service android:name="com.shilapi.xcertplay.shared.MyCarAppService" tools:node="remove" />
        <meta-data android:name="androidx.car.app.minCarApiLevel" tools:node="remove" />
    </application>

</manifest>
