<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />
<queries><package android:name="com.byd.clusterdebug" /></queries>
    <application android:label="DiPlay HUD Test" tools:replace="android:label">
    <receiver android:name="com.shilapi.xcertplay.hud.StarterBridgeReceiver" android:exported="true" android:permission="android.permission.DUMP" />
    <activity android:name="com.shilapi.xcertplay.hud.StandaloneHudDemoActivity" android:exported="true" android:permission="android.permission.DUMP" />
    </application></manifest>
